<div class="full-nav">
@if( color == "primary" ) {
<nav class="primary-sidebar-navigation">
    <ul class="nav-list">
        @for( link of linkList; track link; let idx = $index ) {
        <li class="nav-item primary-nav-item">
            <a href="{{link}}" target="_blank" rel="noopener noreferrer" class="nav-item nav-link">{{titles[idx]}}</a>
        </li>
        }
    </ul>
</nav>
<div class="primary-toggle-nav" (click)="toggleSlide()">
    <i class='fas fa-bars'></i>
</div>
} @else {
<nav class="secondary-sidebar-navigation">
    <ul class="nav-list">
        @for( link of linkList; track link; let idx = $index ) {
        <li class="nav-item secondary-nav-item">
            <a href="{{link}}" target="_blank" rel="noopener noreferrer" class="nav-item nav-link">{{titles[idx]}}</a>
        </li>
        }
    </ul>
</nav>
<div class="secondary-toggle-nav" (click)="toggleSlide()">
    <i class='fas fa-bars'></i>
</div>
}
</div>