.full-page {
    margin-left: 200px;
    display: flex;
}

.title {
    margin-left: 200px
}

.buttons {

}

.toggle-buttons {
    margin-left: 40px;
}

.subtitle {
    margin-left: 200px;
    color: rgb(82, 82, 82);
}
.inputs {
    margin-left: 40px;
}

.separator {
    padding-bottom: 20px;
}