.button-background {
    user-select: none;
    height: fit-content;
    width: fit-content;
    cursor: pointer;

    .primary {
        border-radius: 5px;
        background-color: var(--primary-color);
        filter: drop-shadow(1.5px 1.5px 2px rgb(92, 92, 92));

        &:hover {
            background-color: var(--primary-hover-color);
        }

        &:active {
            background-color: var(--primary-select-color);
            filter: none;
        }
    }

    .secondary {
        border-radius: 5px;
        background-color: var(--secondary-color);
        filter: drop-shadow(1.5px 1.5px 2px rgb(92, 92, 92));

        &:hover {
            background-color: var(--secondary-hover-color);
        }

        &:active {
            background-color: var(--secondary-select-color);
            filter: none;
        }
    }

    .disabled {
        cursor: auto;
        border-radius: 5px;
        background-color: var(--disabled-color);
    }

    .button-text {
        margin: 10px;
        padding: 10px;
        color: var(--white-color);
        justify-self: center;
    }

}