.toggle-button-background {
    user-select: none;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    display: flex;

    .primary {
        background-color: var(--primary-color);
        filter: drop-shadow(1.5px 1.5px 2px rgb(92, 92, 92));

        &:hover {
            background-color: var(--primary-hover-color);
        }
    }

    .primary-active {
        background-color: var(--primary-select-color);
        filter: none;
    }



    .secondary {
        background-color: var(--secondary-color);
        filter: drop-shadow(1.5px 1.5px 2px rgb(92, 92, 92));

        &:hover {
            background-color: var(--secondary-hover-color);
        }
    }

    .secondary-active {
        background-color: var(--secondary-select-color);
        filter: none;
    }

    .disabled {
        cursor: auto;
        background-color: var(--disabled-color);
    }

    .button-text {
        padding: 10px;
        color: var(--white-color);
    }
}