<mbc-button [color]="'primary'" [buttonText]="text"></mbc-button>
<mbc-button [color]="'secondary'" [buttonText]="text"></mbc-button>
<mbc-button [color]="'primary'" [disabled]="true" [buttonText]="text"></mbc-button>
<mbc-button-toggle [color]="'primary'" [buttonTextList]="textList"></mbc-button-toggle>
<div class="separator"></div>
<mbc-button-toggle [color]="'secondary'" [defaultSelected]="0" [requireSelection]="true" [buttonTextList]="textList"></mbc-button-toggle>
<div class="separator"></div>
<mbc-button-toggle [color]="'primary'" [disabled]="true" [buttonTextList]="textList"></mbc-button-toggle>