:root {
    --primary-color: #308997;
    --primary-hover-color: #1c5c66;
    --primary-select-color: #62a9b4;
    --disabled-color: #bbbbbb;
    --secondary-color: #ff8a5f;
    --secondary-hover-color: #fc6d39;
    --secondary-select-color: #ffa787;
    --success-color: #548C2F;
    --danger-color: #FF4000;
    --white-color: #ffffff;
    --black-color: #201E1F;
}